<div class="about-wrapper">
<nav id="nav" class="nav">
  <button class="menu">
    <em class="hamburger"></em>
  </button>
  <div class="brand">
    <!-- <a href="#">Brand</a> -->
  </div>
  <ul class="navbar">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#!/about">About</a>
    </li>
    <li>
      <a href="#!/add">Get Started</a>
    </li>
    <li>
      <a href="#!/contact">Contact</a>
    </li>
  </ul>
</nav>
<div class="top-about">
<img src="images/aboutus.jpg" id="img10">
</div>
<!-- <video autoplay muted loop>
  <source src="video/New.mp4" type="video/mp4">
</video> -->
<div class="about-pic">
  <img src="images/ii.png"class="img6">
</div>
<div class='page-text-box'>
  <h6 class="page-text">WE ARE A WEBSIGHT DEVELOPMENT AGENCY
    THAT FOCOUSE ON GROWING YOUR BUSINESS</h6>
    <p class="p-text2"><b>Our main focus is to create and manage a custom made website for YOU.</b></p>
    <p class="p-text"> You will get a signature webpage made to highlight your business.
       <p class="p-text"> Monthly updates for your webpage are also available if desired. Need video/photo production or an application to promote your business even further? Count on us to get the job done! What are you waiting for? Let TREND create a wonderful visual experience for your business!</p>
</div>
<!-- <video autoplay muted loop>
  <source src="video/New.mp4" type="video/mp4">
</video> -->

    <!-- <img src="images/steps.jpg"class="img5"> -->
  <div class="we">
    <h6 class="page-text1">What We Do</h6>
  <p class="p-2">Through a highly collaborative process, <b>we create innovative, empathetic digital experiences</b> that help organizations grow and businesses connect. <b>Our process is designed to change our clients for the better</b>, by bringing empathy and human-centered thinking to everything we do. Which is this:</p>
  <ul class="font">
    <li><strong><b>Business, brand and marketing strategy</b></strong></li>
      <p>Consulting, research, naming, ideation and planning</p>
    <li><strong><b>Content creation </b></strong></li>
      <p>Story advising, film production, photography</p>
    <li><strong><b>Moble Responsive</b></strong></li>
      <p>Makes your web page look good on all devices (desktops, tablets, and phones).</p>
    <li><b><strong>Workshops</b></strong></li>
      <p>UX design, responsive design, logo and identity services</p>
</ul>
</div>

<div class="about-strad">

    <img src="images/lap.png"class="img7">

</div>
<!-- <div class="about-strad1">

  <div class="get">Test & deliver
  </div>

</div>
<div class="about-strad2">
  <div class="get">Design & Develop
  </div>
</div>
<div class="about-strad3">
  <div class="get">Stratey & Planning
  </div>
  <img src="images/fly.jpg"class="img4">
</div>
<div class="about-strad4">
  <div class="get">Our working process<b> 3 Easy Steps</b>
  </div>

</div> -->
<!-- <h6 class='page-text'> Workshops</h6>
<p class='p-text'>We are fully dedicated to the empowerment and success of everyone who decides to enter the circuit. We want you to experience the excitement while enhancing your way of thinking with the resources and depth of information our program offers. With this program, you will become motivated to exploring more about software development.</p> -->

<!-- <video autoplay muted loop class="code">
  <source src="video/code.mp4" type="video/mp4">
</video> -->
<footer>
  <img src="images/book.png"class="img8">
    <img src="images/gram.png"class="img9">
</footer>
</div>
