<section class="whole-wrapper">
<section>
  <nav id="nav" class="nav">
    <button class="menu">
      <em class="hamburger"></em>
    </button>
    <div class="brand">
      <!-- <a href="#">Brand</a> -->
    </div>
    <ul class="navbar">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#!/about">About</a>
      </li>
      <li>
        <a href="#!/add">Get Started</a>
      </li>
      <li>
        <a href="#!/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- <div class="contact-img">
    <video autoplay muted loop>
      <source src="video/New.mp4" type="video/mp4">
    </video>
    <!-- <img src="images/con.jpg" class="img5"> -->
  <!-- </div> -->
  <div class="add-wrapper">
      <div class="qoute">FILL OUT FORM TO RECIVE A FREE QUOTE!!</div>
    <form action="https://formspree.io/jeremyspringer50@gmail.com"
      method="POST">
    <input type="text" name="name" placeholder="Your Name"></input>
      <input type="text" name="name" placeholder="Company" >
    <input type="email" name="_replyto" placeholder="Your Email" >
    <textarea name="message" placeholder="Message"></textarea>
    <input type="submit" class="send"value="Send">
</form>
  </div>
  <!-- <h6 class="cont-text">Top|Resources|Empowering|New|Directions</h6> -->
  <div class="contact-wrapper">
  <div class="cont-text2">GET IN TOUCH, FILL OUT OUR FORM AND LET US KNOW ABOUT YOUR BUSSINESS , WE LOVE COLLABORATING ON NEW PROJECTS, BECOME APART OF THE TREND.
</div>

<div class="cont-text3">TREND believes that everyone can be empowered by something they desire. By doing so, TREND uses technology to create a visual innovated scope of reality helping clients achieve their most ambitions creating web designs, and marketing their business through today's social media. TREND is committed to servicing clients at the highest professional level.</div>
</div>

</section>
<div class="contact-img">
  <!-- <video autoplay muted loop>
    <source src="video/New.mp4" type="video/mp4">
  </video> -->
  <!-- <img src="images/con.jpg" class="img5"> -->
</div>
<div class="contact-box">
  <div class="num2">Contact Us</div>
<div class="num1">Email: trendtech.duo@gmail.com</div>
<div class="num">Contact: 678-372-6201</div>
<div class="num">Contact 770-688-6685</div>
</div>
