<section class="whole-wrapper">
  <nav id="nav" class="nav"><div class="Minue">Menu</div>
    <button class="menu">
      <em class="hamburger"></em>
    </button>
    <div class="brand">
      <!-- <a href="#">Brand</a> -->
    </div>
    <ul class="navbar">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#!/about">About</a>
      </li>
      <li>
        <a href="#!/contact">HIRE US</a>
      </li>
      <li>
        <a href="#!/contact">Contact</a>
      </li>
      <li class="Email1">
         <a href="mailto:trendtech.duo@gmail.com">trendtech.duo@gmail.com </a>
      </li>
    </ul>
  </nav>
  <!-- <div class="contact-img">
    <video autoplay muted loop>
      <source src="video/New.mp4" type="video/mp4">
    </video>
    <!-- <img src="images/con.jpg" class="img5"> -->
  <!-- </div> -->
  <div class="add-wrapper">
      <div class="qoute">Tell US ABOUT YOUR BUSINESS!!</div>
    <form action="https://formspree.io/trendtech.duo@gmail.com"
      method="POST">
    <input type="text" name="name" placeholder="Your Name"></input>
      <input type="text" name="name" placeholder="Company" >
    <input type="email" name="_replyto" placeholder="Your Email" >
    <textarea name="message" placeholder="Message"></textarea>
    <input type="submit" class="send"value="Send">
</form>
  </div>
  <!-- <h6 class="cont-text">Top|Resources|Empowering|New|Directions</h6> -->
  <div class="contact-wrapper">
  <div class="cont-text2">GET IN TOUCH, FILL OUT OUR FORM AND LET US KNOW ABOUT YOUR BUSINESS. WE LOVE COLLABORATING ON NEW PROJECTS. BECOME APART OF THE TREND.
</div>

<div class="cont-text3">TREND believes that everyone can be empowered by something they desire. By doing so, TREND uses technology to create a visual innovated scope of reality helping clients achieve their most ambitions creating web designs, and marketing their business through today's social media. TREND is committed to servicing clients at the highest professional level.</div>
</div>
<!-- <video autoplay muted loop>
  <source src="video/New.mp4" type="video/mp4">
</video> -->

</section>
<div class="contact-img">

  <!-- <video autoplay muted loop>
    <source src="video/New.mp4" type="video/mp4">
  </video> -->
  <!-- <img src="images/con.jpg" class="img5"> -->
</div>
<!-- <div class="contact-box">
  <div class="num2">Contact Us</div>
<div class="num1">Email: trendtech.duo@gmail.com</div>
 <div class="num">Contact: 678-372-6201</div>
<div class="num">Contact 770-688-6685</div>
</div> -->
<footer>
  © 2017 T.R.E.N.D  Ltd. Trademarks and brands are the property of their respective owners.
  <!-- <img src="images/book.png"class="img8">
    <img src="images/gram.png"class="img9"> -->
</footer>
