
<nav id="nav" class="nav"><div class="Minue">Menu</div>
  <button class="menu">
    <em class="hamburger"></em>
  </button>
  <div class="brand">
    <!-- <a href="#">Brand</a> -->
  </div>
  <ul class="navbar">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#!/about">About</a>
    </li>
    <li>
    <a href="#!/contact">HIRE US</a>
    </li>
    <li>
      <a href="#!/contact">Contact</a>
    </li>
    <li class="Email1">
      <a href="mailto:trendtech.duo@gmail.com">trendtech.duo@gmail.com </a>
    </li>
  </ul>
</nav>
<section class="section" >
</section>
<section class="section" >
</section>
<div class="pattern-overlay">

<div id="slideshow">
    <img src="images/mark.jpg"class="img1">
    <img src="images/trend.jpg"class="img1">
    <img src="images/own.jpg"class="img1">
    <img src="images/ok.jpg"class="img1">
</div>
  <!-- <img src="images/trend.jpg"class="img1"> -->
  <div class="img-overlay">
    <!-- <span>CREATE YOUR</span> -->
    <!-- <h1>Top|Resources|Empowering|New|Directions</h1> -->
    <h2>TREND</h2>
    <h3> A WEB DEVELOPMENT AGENCY FOCOUS ON HELPING YOUR BUSINESS GROW.</h3>
      <a href="#!/about"><h4>Learn More</h4></a>
    <img src="images/book.png"class="img2">
      <img src="images/gram.png"class="img3">
    </div>

    <!-- <p>We specialize in smart digital solutions to grow your organization, market your business, and make the world a better place - created collaboratively with you.</p> -->
</div>
</div>
